<% if @book.errors.any? %>
  <%= @book.errors.count %> prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">

<div class = "col-md-3" >

<div>
  <h1>User info</h1>
  <%= image_tag current_user.get_profile_image(100,100) %>

<table class="table table-striped">
  <tr>
    <th>name</th>
    <th><%= current_user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= current_user.introduction %></th>
  </tr>
</table>

<a class = "btn btn-outline-secondary" href = '<%= "/users/#{current_user.id}/edit" %>' >
  <i class="fas fa-user-cog" aria-hidden="true" ></i>
</a>

<h1>New book</h1>
<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <br>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>

</div>
</div>
<div class = "col-md-8 offset-md-1" >

<h1>Users</h1>
<table class="table table-striped">
 <tr>
   <th>image</th>
   <th>name</th>
   <th>　</th>
 </tr>
 <tr>

  <% @users.each do |user| %>
  </tr>
    <td>
      <%= image_tag user.get_profile_image(100,100) %>
    </td>
    <td><%= user.name %></td>
    <td>
      <%= link_to user_path(user.id) do %>
        Show
      <% end %>
    </td>

  </tr>
  <% end %>
</table>

</div>
</div>
</div>
</div>