<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">

<div class = "col-md-3" >
<div>
  <h1>User info</h1>
  <%= image_tag @book.user.get_profile_image(100,100) %>

<table class="table table-striped">
  <tr>
    <th>name</th>
    <th><%= @book.user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @book.user.introduction %></th>
  </tr>
</table>

  <% if @user == current_user %>
    <a class = "btn btn-outline-secondary" href ='<%= "/users/#{current_user.id}/edit" %>' >
      <i class="fas fa-user-cog" aria-hidden="true" ></i>
    </a>
  <% else %>
    <a class = "btn btn-outline-secondary" href ='<%= "/users/#{@user.id}/edit" %>' >
      <i class="fas fa-user-cog" aria-hidden="true" ></i>
    </a>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model: @book_new do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <br>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>
</div>

<div class = "col-md-8 offset-md-1" >

<h1>Book detail</h1>
<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.get_profile_image(100,100) %>
        <br>
        <%= link_to user_path(@book.user) do %>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(@book) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


</div>

 </div>
</div>